<div>
  <h2>This is one mean Tutorial</h2>
  <div ng-repeat="product in app.datafromMongo">
    <ul>
      <li>{{product._id}} {{product.product}}</li>
    </ul>
  </div>

  <input type="text" ng-model="app.product">

  <button ng-click="app.submit(app.product)">Submit</button>
  <button ng-click="app.show()">Show</button>
  <br><br>
  <label for="Work Order"> Work_Order Search:
    <input type="text" ng-model="app.work_order">
  </label>
  <span ng-show="app.work_order">Search for "{{app.work_order}}"</span>
  <span ng-show="!app.work_order">Search ..."</span>
</div>