<div>
  <h2>CORS with meanJS</h2>
  <div ng-repeat="product in app.datafromMongo">
    <ul>
      <li>{{product._id}} {{product.product}} {{product.description}}</li>
    </ul>
  </div>

  <div style="overflow-x:auto;" ng-repeat="product in app.products">
    <table border="0.5">
      <thead>
      <tr>
        <th>id</th>
        <th>product</th>
        <th>description</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{{product._id}}</td>
        <td><a href='products/{{product._id}}'>{{product.product}}</a></td>
        <td>{{product.description}}</td>
      </tr>
      </tbody>
    </table>
  </div>

  Product <input type="text" ng-model="app.product">
  Description <input type="text" ng-model="app.description">

  <button ng-click="app.submit({ product: app.product, description: app.description })">Submit</button>
  <button ng-click="app.show()">Show</button>

  <br><br>

  <div ng-if="app.getfromManex">
    <table border="1" style="color:#FFA200">
      <thead>
      <tr>
        <th>Index</th>
        <th>Uniq_key</th>
        <th>Customer_PO</th>
        <th>Customer_Name</th>
        <th>Due</th>
        <th>Work_Order</th>
        <th>Sale_Order</th>
        <th>Assembly</th>
        <th>Revision</th>
        <th>Quantity</th>
        <th>Timestamp</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="order in app.getfromManex">

        <td>{{$index+1}}</td>
        <td>{{order.key}}</td>
        <td>{{order.customer_po}}</td>
        <td>{{order.customer_name}}</td>
        <td>{{order.due_date}}</td>
        <td>{{order.wo}}</td>
        <td>{{order.so}}</td>
        <td>{{order.assembly}}</td>
        <td>{{order.revision}}</td>
        <td>{{order.qty}}</td>
        <td>{{order.timestamp}}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <div ng-if="app.postfromManex">
    <table border="1" style="color:#166CD7">
      <thead>
      <tr>
        <th>Index</th>
        <th>Uniq_key</th>
        <th>Customer_PO</th>
        <th>Customer_Name</th>
        <th>Due</th>
        <th>Work_Order</th>
        <th>Sale_Order</th>
        <th>Assembly</th>
        <th>Revision</th>
        <th>Quantity</th>
        <th>Timestamp</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="order in app.postfromManex">

        <td>{{$index+1}}</td>
        <td>{{order.key}}</td>
        <td>{{order.customer_po}}</td>
        <td>{{order.customer_name}}</td>
        <td>{{order.due_date}}</td>
        <td>{{order.wo}}</td>
        <td>{{order.so}}</td>
        <td>{{order.assembly}}</td>
        <td>{{order.revision}}</td>
        <td>{{order.qty}}</td>
        <td>{{order.timestamp}}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <br><br>
  <label for="Work-Order"> Work_Order Search:
    <input type="text" ng-model="app.work_order" id="Work-Order">
  </label>
  <button ng-click="app.getManex(app.work_order)">get Manex</button>
  <button ng-click="app.postManex(app.work_order)">post Manex</button>
  <span ng-show="app.work_order">Search for "{{app.work_order}}"</span>
  <span ng-show="!app.work_order">Search ..."</span>

</div>